{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/about_des.css') }}" />
{% endblock %}

{% block content1 %}
    {% if not user %}
        <a href="{{ url_for('pages:login') }}">Войти/Зарегистрироваться</a>
    {% else %}
        <a href="{{ url_for('pages:profile') }}">{{ user.username }}</a>
    {% endif %}
{% endblock %}

{% block content2 %}
<div>
    <main class="main">
        <div class="content">
            <p>Добро пожаловать на <strong>MangaVerse</strong> — ваш надежный источник новостей из мира манги. Мы стремимся освещать последние события, выходы новых серий и тренды в мире японских комиксов, предоставляя глубокий анализ и качественную информацию.</p>
            <p>Наша миссия — информировать, вдохновлять и обучать читателей, помогая им оставаться на переднем крае манга-индустрии. Мы освещаем широкий спектр тем, включая новые выпуски, авторские работы, классику манги, а также студии и артистов.</p>
            <p>Наша редакционная команда состоит из опытных журналистов и экспертов в области манги, которые посвящают свое время тщательному исследованию и созданию контента, который не только информирует, но и заставляет задуматься. Мы гордимся нашей способностью разбираться в сложных темах и представлять их в доступном и понятном виде.</p>
            <p>Благодаря нашему многолетнему опыту и страсти к манге, <strong>MangaVerse</strong> является источником, которому вы можете доверять. Присоединяйтесь к нам, чтобы всегда быть в курсе самых важных новостей и анализов мира манги.</p>
            <p>Для предложений и обратной связи, пожалуйста, свяжитесь с нами через <a href="mailto:email@example.com">email@example.com</a>.</p>
        </div>
    </main>
</div>
{% endblock %}